Django==3.2.16
djangorestframework==3.14.0
django-extensions==3.2.1
Pygments==2.13.0
django-cors-headers==3.13.0
six==1.16.0
python-dotenv==0.21.0
celery==5.2.7
redis==4.3.4
psycopg2-binary==2.9.5

# ASGI HTTP server
gunicorn==21.*
uvicorn[standard]==0.30.*
